/*==================================
   BOURAS.SHOP_DZ
   FINAL RESPONSIVE SYSTEM
==================================*/


/* ================= TABLET ================= */

@media(max-width:992px){


.container{

width:94%;

}



/* HEADER */

.header .container{

height:auto;
padding:15px 0;
flex-wrap:wrap;

}


.logo img{

width:105px;

}


.search-box{

order:3;
width:100%;

}



.header-icons{

gap:10px;

}



/* HERO */


.slide{

padding:35px;
flex-direction:column;
text-align:center;
gap:35px;

}



.slide-content,
.slide-image{

width:100%;

}



.slide h1{

font-size:35px;

}



.slide-image{

max-width:500px;

}




/* CATEGORY */


.category-grid{

grid-template-columns:repeat(3,1fr);

}



/* PRODUCTS */


.products-grid{

grid-template-columns:repeat(2,1fr);

}




/* WHY */


.why-grid{

grid-template-columns:repeat(2,1fr);

}



}




/* ================= MOBILE ================= */


@media(max-width:600px){


.container{

width:92%;

}



body{

font-size:14px;

}



/* HEADER */


.header .container{

justify-content:center;

}



.logo img{

width:90px;

}



.header-icons a,
.header-icons button{

width:40px;
height:40px;

}



.search-box input{

font-size:14px;

}



/* HERO */


.hero{

padding:20px 0;

}



.slide{

padding:25px 15px;
border-radius:22px;

}



.slide h1{

font-size:26px;

}



.slide p{

font-size:14px;

}



.hero-btn{

padding:12px 25px;

}



.slide-image img{

max-height:230px;
object-fit:contain;

}




/* TITLES */


.section-title h2,
.section-header h2{

font-size:24px;

}





/* CATEGORY */


.category-grid{

grid-template-columns:repeat(2,1fr);
gap:12px;

}



.category-card{

padding:15px 10px;

}



.category-card img{

height:55px;

}




/* PRODUCTS */


.products-grid{

grid-template-columns:repeat(2,1fr);
gap:12px;

}



.product-card{

padding:10px;
border-radius:18px;

}



.product-image{

height:170px;

}



.product-card h3{

font-size:14px;
min-height:auto;

}



.price{

font-size:18px;

}





/* WHY */


.why-grid{

grid-template-columns:1fr;

}




/* FOOTER */


.footer{

text-align:center;

}



.social{

justify-content:center;

}




}